In [1]:
import pandas as pd

In [2]:
df_old = pd.read_csv('subs.csv')
df_new = pd.read_csv('subscriptions_60000.csv', delimiter=';')

/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/3074963779.py:1: DtypeWarning: Columns (4,6,10,13,16,18,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_old = pd.read_csv('subs.csv')
/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/3074963779.py:2: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv('subscriptions_60000.csv', delimiter=';')

In [3]:
df_old['subs_date'] = pd.to_datetime(df_old['subs_date'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
df_old['subs_date'] = df_old['subs_date'].dt.strftime('%d/%m/%Y %H:%M')

df_old

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,302164,2023-09-13 09:47:57.713,TH,ais,459505104,sms,66988602911,0,daily,NaN,...,6,BATH,Active,NaN,20230913070749401088.0,NaN,NaN,NaN,15,0
1,3521,2023-09-13 09:21:13.679,TH,ais,459505104,sms,66822243080,0,daily,NaN,...,6,BATH,Active,NaN,20230913070724300800.0,NaN,NaN,NaN,15,0
2,1,2023-09-13 09:20:20.727,TH,ais,459505106,ivr,666131,0,1,NaN,...,6,BATH,Active,NaN,20230825140205699072.0,NaN,NaN,NaN,1,1
3,4999335,2023-09-13 14:00:22.171,TH,ais,459505105,wap,66650020857,0,daily,star,...,6,BATH,Active,star,20230913071052099584.0,star-APP1694223212644066,NaN,NaN,5,0
4,273196,2023-09-13 09:45:33.449,TH,ais,459505104,sms,66635959286,0,daily,NaN,...,6,BATH,Active,NaN,20230913070115598336.0,NaN,NaN,NaN,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308906,22019,2023-09-14 06:55:36.464,OM,omantel,goaly,cp1,96898097014,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308907,22037,2023-09-14 06:55:36.475,OM,omantel,goaly,cp1,96872209910,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308908,22062,2023-09-14 06:55:36.485,OM,omantel,goaly,cp1,96891448321,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308909,22083,2023-09-14 06:55:36.498,OM,omantel,goaly,cp1,96891982806,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308910,22096,2023-09-14 06:55:36.505,OM,omantel,goaly,cp1,96899008766,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0

In [4]:
df_old['renewal_date'] = pd.to_datetime(df_old['renewal_date'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
df_old['renewal_date'] = df_old['renewal_date'].dt.strftime('%d/%m/%Y %H:%M')

df_old

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,302164,2023-09-13 09:47:57.713,TH,ais,459505104,sms,66988602911,0,daily,NaN,...,6,BATH,Active,NaN,20230913070749401088.0,NaN,NaN,NaN,15,0
1,3521,2023-09-13 09:21:13.679,TH,ais,459505104,sms,66822243080,0,daily,NaN,...,6,BATH,Active,NaN,20230913070724300800.0,NaN,NaN,NaN,15,0
2,1,2023-09-13 09:20:20.727,TH,ais,459505106,ivr,666131,0,1,NaN,...,6,BATH,Active,NaN,20230825140205699072.0,NaN,NaN,NaN,1,1
3,4999335,2023-09-13 14:00:22.171,TH,ais,459505105,wap,66650020857,0,daily,star,...,6,BATH,Active,star,20230913071052099584.0,star-APP1694223212644066,NaN,NaN,5,0
4,273196,2023-09-13 09:45:33.449,TH,ais,459505104,sms,66635959286,0,daily,NaN,...,6,BATH,Active,NaN,20230913070115598336.0,NaN,NaN,NaN,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308906,22019,2023-09-14 06:55:36.464,OM,omantel,goaly,cp1,96898097014,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308907,22037,2023-09-14 06:55:36.475,OM,omantel,goaly,cp1,96872209910,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308908,22062,2023-09-14 06:55:36.485,OM,omantel,goaly,cp1,96891448321,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308909,22083,2023-09-14 06:55:36.498,OM,omantel,goaly,cp1,96891982806,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0
308910,22096,2023-09-14 06:55:36.505,OM,omantel,goaly,cp1,96899008766,0,daily,kee,...,300,Rial,NaN,lumos,NaN,NaN,/,Apache-HttpClient,1,0

In [5]:
df_new['subs_date'] = pd.to_datetime(df_new['subs_date'], format='%Y-%m-%d %H:%M:%S.%f %z', errors='coerce')
df_new['subs_date'] = df_new['subs_date'].dt.strftime('%d/%m/%Y %H:%M')

df_new

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,4772183,2023-11-15 01:24:39.890 +0700,ID,id-telkomsel-mks,SLYPEE FSC,NaN,SHDC-UIMZr0MUR79HfOsXdjxJBLpYg KxaRHmtGxtc/05qWQ,0,daily,NaN,...,1000,NaN,NaN,NaN,"1,70223E+22",NaN,NaN,NaN,1,1
1,9850460,2023-11-15 22:53:58.779 +0700,ID,telesatpass,PLAYZONE,sms,SHDC-SE2/sv 8CjW4dwFHjeQrdAaJah6g8F1F mS1LpmkyJQ=,1,daily,adg,...,0,IDR,Active,NaN,"2,02312E+24",NaN,NaN,NaN,35,4
2,16139146,2023-11-21 12:28:28.178 +0700,ID,id-telkomsel-mks,SLYPEE DFS,NaN,SHDC-yqSKHCM7crgLi6E45ffYl 1X/6kaAjoFqG 77XO0vd8,1,daily,NaN,...,1000,NaN,NaN,NaN,10885399605,NaN,NaN,NaN,6,0
3,58769,2023-10-24 02:25:37.089 +0700,ID,telkomsel,CLOUDPLAY,WAP,SHDC-n21EFe9DWJPzG/jfTc6e+bXpYIcOgMtQTezeMkaxzXM=,1,2d,adn,...,2000,IDR,active,NaN,4e28fd8b-15ab-402c-971f-f786a4e9f52f,NaN,NaN,NaN,1,1
4,10936057,2023-11-16 01:54:53.428 +0700,ID,telkomsel,CLOUDPLAY,WAP,SHDC-DHR7Jy5mhF4P8zX8lyIHQQ6wb4Kdd7XJDD+MBRpCkB0=,1,2d,adn,...,2000,IDR,active,NaN,09737f4a-a536-458d-9411-a5be609aacd3,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56698,97584,"30.20,3",TH,ais,459509903,sms,66808868699,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56699,384166,"55.22,9",TH,ais,459505105,wap,66615676784,1,daily,mpl,...,6,BATH,Active,NaN,"2,0231E+19",NaN,NaN,NaN,35,0
56700,27966473,"35.16,7",TH,aisgemezz,GE,SMS,66989754515,1,daily,BTM,...,0,BAHT,Active,NaN,ad25621@CPE6:BFHi9IBe,NaN,NaN,NaN,112,14
56701,187009,"37.18,2",TH,ais,459509903,sms,66806582058,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56702,27906860,"30.21,1",TH,aisgemezz,GE,SMS,66822874228,0,daily,BTM,...,0,BAHT,Unsub,NaN,NaN,NaN,NaN,NaN,0,0

In [6]:
df_new['renewal_date'] = pd.to_datetime(df_new['renewal_date'], format='%Y-%m-%d %H:%M:%S.%f %z', errors='coerce')
df_new['renewal_date'] = df_new['renewal_date'].dt.strftime('%d/%m/%Y %H:%M')

df_new

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,4772183,2023-11-15 01:24:39.890 +0700,ID,id-telkomsel-mks,SLYPEE FSC,NaN,SHDC-UIMZr0MUR79HfOsXdjxJBLpYg KxaRHmtGxtc/05qWQ,0,daily,NaN,...,1000,NaN,NaN,NaN,"1,70223E+22",NaN,NaN,NaN,1,1
1,9850460,2023-11-15 22:53:58.779 +0700,ID,telesatpass,PLAYZONE,sms,SHDC-SE2/sv 8CjW4dwFHjeQrdAaJah6g8F1F mS1LpmkyJQ=,1,daily,adg,...,0,IDR,Active,NaN,"2,02312E+24",NaN,NaN,NaN,35,4
2,16139146,2023-11-21 12:28:28.178 +0700,ID,id-telkomsel-mks,SLYPEE DFS,NaN,SHDC-yqSKHCM7crgLi6E45ffYl 1X/6kaAjoFqG 77XO0vd8,1,daily,NaN,...,1000,NaN,NaN,NaN,10885399605,NaN,NaN,NaN,6,0
3,58769,2023-10-24 02:25:37.089 +0700,ID,telkomsel,CLOUDPLAY,WAP,SHDC-n21EFe9DWJPzG/jfTc6e+bXpYIcOgMtQTezeMkaxzXM=,1,2d,adn,...,2000,IDR,active,NaN,4e28fd8b-15ab-402c-971f-f786a4e9f52f,NaN,NaN,NaN,1,1
4,10936057,2023-11-16 01:54:53.428 +0700,ID,telkomsel,CLOUDPLAY,WAP,SHDC-DHR7Jy5mhF4P8zX8lyIHQQ6wb4Kdd7XJDD+MBRpCkB0=,1,2d,adn,...,2000,IDR,active,NaN,09737f4a-a536-458d-9411-a5be609aacd3,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56698,97584,"30.20,3",TH,ais,459509903,sms,66808868699,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56699,384166,"55.22,9",TH,ais,459505105,wap,66615676784,1,daily,mpl,...,6,BATH,Active,NaN,"2,0231E+19",NaN,NaN,NaN,35,0
56700,27966473,"35.16,7",TH,aisgemezz,GE,SMS,66989754515,1,daily,BTM,...,0,BAHT,Active,NaN,ad25621@CPE6:BFHi9IBe,NaN,NaN,NaN,112,14
56701,187009,"37.18,2",TH,ais,459509903,sms,66806582058,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56702,27906860,"30.21,1",TH,aisgemezz,GE,SMS,66822874228,0,daily,BTM,...,0,BAHT,Unsub,NaN,NaN,NaN,NaN,NaN,0,0

In [7]:
df = pd.concat([df_old, df_new], ignore_index=True)
df

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,302164,2023-09-13 09:47:57.713,TH,ais,459505104,sms,66988602911,0,daily,NaN,...,6,BATH,Active,NaN,20230913070749401088.0,NaN,NaN,NaN,15,0
1,3521,2023-09-13 09:21:13.679,TH,ais,459505104,sms,66822243080,0,daily,NaN,...,6,BATH,Active,NaN,20230913070724300800.0,NaN,NaN,NaN,15,0
2,1,2023-09-13 09:20:20.727,TH,ais,459505106,ivr,666131,0,1,NaN,...,6,BATH,Active,NaN,20230825140205699072.0,NaN,NaN,NaN,1,1
3,4999335,2023-09-13 14:00:22.171,TH,ais,459505105,wap,66650020857,0,daily,star,...,6,BATH,Active,star,20230913071052099584.0,star-APP1694223212644066,NaN,NaN,5,0
4,273196,2023-09-13 09:45:33.449,TH,ais,459505104,sms,66635959286,0,daily,NaN,...,6,BATH,Active,NaN,20230913070115598336.0,NaN,NaN,NaN,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365609,97584,"30.20,3",TH,ais,459509903,sms,66808868699,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
365610,384166,"55.22,9",TH,ais,459505105,wap,66615676784,1,daily,mpl,...,6,BATH,Active,NaN,"2,0231E+19",NaN,NaN,NaN,35,0
365611,27966473,"35.16,7",TH,aisgemezz,GE,SMS,66989754515,1,daily,BTM,...,0,BAHT,Active,NaN,ad25621@CPE6:BFHi9IBe,NaN,NaN,NaN,112,14
365612,187009,"37.18,2",TH,ais,459509903,sms,66806582058,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
365613,27906860,"30.21,1",TH,aisgemezz,GE,SMS,66822874228,0,daily,BTM,...,0,BAHT,Unsub,NaN,NaN,NaN,NaN,NaN,0,0

In [8]:
df.sort_values(by='id', inplace=True)

In [9]:
df.drop_duplicates()

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
200000,1,2023-09-13 09:19:41.923,SN,sen-orange-mtarget,gemezz,web,PDKSUB-200-++TLIxY1Z7FCcBZodmgPtQyEKOZThxNIoj9...,0,daily,NaN,...,150,NaN,NaN,NaN,dab20e86-7d36-4511-a358-c2fc4d23db42,NaN,NaN,NaN,1,0
2,1,2023-09-13 09:20:20.727,TH,ais,459505106,ivr,666131,0,1,NaN,...,6,BATH,Active,NaN,20230825140205699072.0,NaN,NaN,NaN,1,1
205756,1,2023-09-13 08:07:10.540,LA,etl,slypee,USSD,2028860734,-1,weekly,default,...,10000,LAK,inactive,lumos,NaN,test121212,Android,Chrome,1,1
287235,1,2023-09-14 06:55:21.260,OM,omantel,goaly,cp1,96893223207,-1,daily,ozo,...,300,Rial,NaN,lumos,NaN,NaN,/,NaN,1,0
353431,1,2023-09-13 09:19:41.923 +0700,SN,sen-orange-mtarget,gemezz,NaN,PDKSUB-200-++TLIxY1Z7FCcBZodmgPtQyEKOZThxNIoj9...,-1,daily,NaN,...,150,NaN,NaN,NaN,"1,69582E+22",NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358453,59536521,"10.11,5",TH,ais,459505104,wap,66621288533,0,daily,star,...,6,BATH,Active,star,"2,02312E+19",star-APP1702256675888265,NaN,NaN,1,0
362275,59556919,"11.01,3",TH,ais,459505104,wap,66821509683,0,daily,star,...,6,BATH,Active,star,"2,02312E+19",star-APP1702256566977397,NaN,NaN,1,0
358607,60075406,"25.12,2",TH,aisgemezz,GE,wap,66817387594,-1,daily,BTM,...,4,BAHT,Unsub,BTM,"3,12112E+19",NaN,NaN,NaN,0,0
362765,60077504,"25.25,7",TH,aisgemezz,GE,wap,66980012360,1,daily,BTM,...,4,BAHT,Active,BTM,"3,12112E+19",NaN,NaN,NaN,1,0
357811,60085182,"26.09,5",TH,aisgemezz,GEF,sms,66932769101,0,daily,VAD,...,4,BAHT,Active,VAD,"3,12122E+19",NaN,NaN,NaN,1,0

In [10]:
df = df[['id', 'country', 'operator', 'service', 'source', 'status', 'cycle', 'adnet',
         'subs_date', 'renewal_date', 'publisher', 'attempt_charging', 'success_billing']]

In [11]:
df

,id,country,operator,service,source,status,cycle,adnet,subs_date,renewal_date,publisher,attempt_charging,success_billing
200000,1,SN,sen-orange-mtarget,gemezz,web,0,daily,NaN,13/08/2023 00:09,13/08/2023 00:09,NaN,1,0
2,1,TH,ais,459505106,ivr,0,1,NaN,25/08/2023 14:02,26/08/2023 00:00,NaN,1,1
205756,1,LA,etl,slypee,USSD,-1,weekly,default,21/07/2023 20:48,28/07/2023 20:48,lumos,1,1
287235,1,OM,omantel,goaly,cp1,-1,daily,ozo,30/08/2022 09:18,30/08/2022 09:18,lumos,1,0
353431,1,SN,sen-orange-mtarget,gemezz,NaN,-1,daily,NaN,27/09/2023 21:24,27/09/2023 21:24,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358453,59536521,TH,ais,459505104,wap,0,daily,star,NaN,NaN,star,1,0
362275,59556919,TH,ais,459505104,wap,0,daily,star,NaN,NaN,star,1,0
358607,60075406,TH,aisgemezz,GE,wap,-1,daily,BTM,NaN,NaN,BTM,0,0
362765,60077504,TH,aisgemezz,GE,wap,1,daily,BTM,NaN,NaN,BTM,1,0
357811,60085182,TH,aisgemezz,GEF,sms,0,daily,VAD,NaN,NaN,VAD,1,0

In [12]:
df[['Subsdate', 'Substime']] = df['subs_date'].str.split(expand=True)

# Converting 'Subsdate' column to datetime format
df['Subsdate'] = pd.to_datetime(df['Subsdate'], format='%d/%m/%Y')

# Converting 'Substime' column to time format
df['Substime'] = pd.to_datetime(df['Substime'], format='%H:%M').dt.time

# Drop the original 'subs_date' column if you no longer need it
df = df.drop(columns=['subs_date'])

# Display the modified DataFrame
df

/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/4084084980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Subsdate', 'Substime']] = df['subs_date'].str.split(expand=True)
/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/4084084980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Subsdate', 'Substime']] = df['subs_date'].str.split(expand=True)
/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/4084084980.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Subsdate'] = pd.to_datetime(df['Subsdate'], format='%d/%m/%Y')
/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/4084084980.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Substime'] = pd.to_datetime(df['Substime'], format='%H:%M').dt.time

,id,country,operator,service,source,status,cycle,adnet,renewal_date,publisher,attempt_charging,success_billing,Subsdate,Substime
200000,1,SN,sen-orange-mtarget,gemezz,web,0,daily,NaN,13/08/2023 00:09,NaN,1,0,2023-08-13,00:09:00
2,1,TH,ais,459505106,ivr,0,1,NaN,26/08/2023 00:00,NaN,1,1,2023-08-25,14:02:00
205756,1,LA,etl,slypee,USSD,-1,weekly,default,28/07/2023 20:48,lumos,1,1,2023-07-21,20:48:00
287235,1,OM,omantel,goaly,cp1,-1,daily,ozo,30/08/2022 09:18,lumos,1,0,2022-08-30,09:18:00
353431,1,SN,sen-orange-mtarget,gemezz,NaN,-1,daily,NaN,27/09/2023 21:24,NaN,1,0,2023-09-27,21:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358453,59536521,TH,ais,459505104,wap,0,daily,star,NaN,star,1,0,NaT,NaN
362275,59556919,TH,ais,459505104,wap,0,daily,star,NaN,star,1,0,NaT,NaN
358607,60075406,TH,aisgemezz,GE,wap,-1,daily,BTM,NaN,BTM,0,0,NaT,NaN
362765,60077504,TH,aisgemezz,GE,wap,1,daily,BTM,NaN,BTM,1,0,NaT,NaN
357811,60085182,TH,aisgemezz,GEF,sms,0,daily,VAD,NaN,VAD,1,0,NaT,NaN

In [13]:
df[['Renewaldate', 'Renewaltime']] = df['renewal_date'].str.split(expand=True)

# Drop rows with '0001-01-01' in 'Renewaldate' column
df = df[df['Renewaldate'] != '0001-01-01']

# Converting 'Renewaldate' column to datetime format (assuming the format is '26/08/2023')
df['Renewaldate'] = pd.to_datetime(df['Renewaldate'], format='%d/%m/%Y')

# Converting 'Renewaltime' column to time format
df['Renewaltime'] = pd.to_datetime(df['Renewaltime'], errors='coerce').dt.time

# Drop the original 'renewal_date' column if you no longer need it
df = df.drop(columns=['renewal_date'])

# Display the modified DataFrame
df

/var/folders/dw/l4h116bs0p1614knym74hj4m0000gn/T/ipykernel_70568/701502828.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Renewaltime'] = pd.to_datetime(df['Renewaltime'], errors='coerce').dt.time

,id,country,operator,service,source,status,cycle,adnet,publisher,attempt_charging,success_billing,Subsdate,Substime,Renewaldate,Renewaltime
200000,1,SN,sen-orange-mtarget,gemezz,web,0,daily,NaN,NaN,1,0,2023-08-13,00:09:00,2023-08-13,00:09:00
2,1,TH,ais,459505106,ivr,0,1,NaN,NaN,1,1,2023-08-25,14:02:00,2023-08-26,00:00:00
205756,1,LA,etl,slypee,USSD,-1,weekly,default,lumos,1,1,2023-07-21,20:48:00,2023-07-28,20:48:00
287235,1,OM,omantel,goaly,cp1,-1,daily,ozo,lumos,1,0,2022-08-30,09:18:00,2022-08-30,09:18:00
353431,1,SN,sen-orange-mtarget,gemezz,NaN,-1,daily,NaN,NaN,1,0,2023-09-27,21:24:00,2023-09-27,21:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358453,59536521,TH,ais,459505104,wap,0,daily,star,star,1,0,NaT,NaN,NaT,NaN
362275,59556919,TH,ais,459505104,wap,0,daily,star,star,1,0,NaT,NaN,NaT,NaN
358607,60075406,TH,aisgemezz,GE,wap,-1,daily,BTM,BTM,0,0,NaT,NaN,NaT,NaN
362765,60077504,TH,aisgemezz,GE,wap,1,daily,BTM,BTM,1,0,NaT,NaN,NaT,NaN
357811,60085182,TH,aisgemezz,GEF,sms,0,daily,VAD,VAD,1,0,NaT,NaN,NaT,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365614 entries, 200000 to 357811
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365614 non-null  int64
 1   country           365614 non-null  object
 2   operator          365614 non-null  object
 3   service           365614 non-null  object
 4   source            354366 non-null  object
 5   status            365614 non-null  int64
 6   cycle             365613 non-null  object
 7   adnet             177233 non-null  object
 8   publisher         133311 non-null  object
 9   attempt_charging  365614 non-null  int64
 10  success_billing   365614 non-null  int64
 11  Subsdate          355614 non-null  datetime64[ns]
 12  Substime          355614 non-null  object
 13  Renewaldate       354929 non-null  datetime64[ns]
 14  Renewaltime       354929 non-null  object
dtypes: datetime64[ns](2), int64(4), object(9)
memory usage: 44.6+ MB

In [15]:
new_column_names = {
    'id': 'CustomerID',
    'country': 'CountryCode',
    'operator': 'OperatorName',
    'service': 'ServiceType',
    'source': 'SubscriptionChannel',
    'status': 'CustomerStatus',
    'cycle': 'SubscriptionCycle',
    'adnet': 'AdnetName',
    'publisher': 'PublisherName',
    'attempt_charging': 'ChargingAttempts',
    'success_billing': 'SuccessCharging',
    'Subsdate': 'SubscriptionDate',
    'Substime': 'SubscriptionTime',
    'Renewaldate': 'RenewalDate',
    'Renewaltime': 'RenewalTime'
}

# Assuming df is your DataFrame
df = df.rename(columns=new_column_names)

In [16]:
df[['SubscriptionChannel', 'AdnetName', 'PublisherName']] = df[['SubscriptionChannel', 'AdnetName', 'PublisherName']].fillna('not found')

# Use a more reasonable maximum date that fits within the valid range
columns_to_drop = ['SubscriptionDate', 'RenewalDate', 'SubscriptionTime', 'RenewalTime']

# Fill missing values with the default datetime value
df = df.dropna(subset=columns_to_drop)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 354929 entries, 200000 to 348390
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CustomerID           354929 non-null  int64
 1   CountryCode          354929 non-null  object
 2   OperatorName         354929 non-null  object
 3   ServiceType          354929 non-null  object
 4   SubscriptionChannel  354929 non-null  object
 5   CustomerStatus       354929 non-null  int64
 6   SubscriptionCycle    354928 non-null  object
 7   AdnetName            354929 non-null  object
 8   PublisherName        354929 non-null  object
 9   ChargingAttempts     354929 non-null  int64
 10  SuccessCharging      354929 non-null  int64
 11  SubscriptionDate     354929 non-null  datetime64[ns]
 12  SubscriptionTime     354929 non-null  object
 13  RenewalDate          354929 non-null  datetime64[ns]
 14  RenewalTime          354929 non-null  object
dtypes: datetime64[ns](2), int64(4), object(9)
memory usage: 43.3+ MB

In [18]:
# df.to_csv('cleaned_data.csv')